 {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  body {
    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    color: #333;

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;
  }

  h1 {
    font-size: 10em;

    color: #004898;

    margin-bottom: 20px;
  }

  p {
    font-size: 5em;

    line-height: 1.6;
  }
  .introduction {
    transform: translateX(-100%);

    transition: transform 1s ease-in-out;
  }
}
