:root {
  --font-family: "Shippori Mincho", sans-serif;
  --color-white: #ffffff;
}

/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 75px;
  padding: 4px 36px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.64) -34%,
    rgba(0, 0, 0, 0.48) 100%
  );
  z-index: 10;
}
.header-title {
  margin: 0;
  width: 100%;
  color: var(--color-white);
  font-size: 20px;
}
.header-wrapper {
  display: flex;
  width: 100%;
  height: 40px;
  color: var(--color-white);
  font-size: 16px;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.header-contents {
  margin: 0;
  display: flex;
  align-items: center;
  width: 480px;
  height: 40px;
}
.header-link {
  color: var(--color-white);
  margin: 0;
  padding: 9px 16px;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
}
.header-button {
  font-size: 16px;
  color: var(--color-white);
  display: flex;
  width: 185px;
  padding: 8px 12px;
  margin: 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 0.5px solid #ffffff;
}

/* hero */
.hero {
  width: 100%;
}
.hero-first {
  width: 100%;
  height: 816px;
  background-image: url("./img/mountain.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relatived;
}
.hero-first-logo {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.hero-second {
  width: 100%;
  height: 567px;
  background-image: url("./img/lake.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-second::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 317px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.51) 0%,
    rgba(0, 0, 0, 0.31) 100%
  );
  backdrop-filter: blur(1px);
}
.hero-second-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 40px 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  z-index: 1;
}
.hero-second-title {
  margin: 0;
  color: var(--color-white);
  font-size: 32px;
}
.hero-second-texts {
  margin: 0;
  color: var(--color-white);
  font-size: 16px;
}
