.slider {
  display: flex;
  position: relative;
  align-items: center;
  width: 100vw;
  height: 600px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  background: #0d1b2b;
  overflow: hidden;
  font-family: "Roboto";
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.slider-wrapper {
  width: 500px;
  margin-top: 5vw;
  margin-left: 11vw;
}

.slider-wrapper div {
  position: relative;
}

.slide-image {
  height: 24vw;
}

.slide-image img {
  max-width: 12em;
  height: 12em;
  object-fit: cover;
  cursor: pointer;
}

div.overlay-blue {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.5s ease all;
}

div.overlay-blue:hover {
  background: rgba(13, 27, 43, 0.5);
}

.slide-content {
  width: 25em;
  padding: 0 3em;
  color: #fff;
}

.slide-date {
  color: #0a8acb;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  padding-bottom: 1.4em;
}

.slide-title {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding-bottom: 1.8em;
}

.slide-text {
  font-size: 0.8em;
  line-height: 1.5em;
  opacity: 0.8;
  padding-bottom: 4em;
}

.slide-more {
  float: left;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

/* ボタンの配置を修正 */
.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100; /* ボタンを前面に表示 */
}

.arrow {
  width: 1.2em;
  height: 1.2em;
  background: transparent;
  border-top: 0.15em solid #fff;
  border-left: 0.15em solid #fff;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  border-color: #0a8acb;
  border-width: 0.25vw;
}

.arrow::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  margin-top: -50%;
  margin-left: -50%;
  transform: rotate(45deg);
}

.arrow.prev {
  transform: rotate(-45deg);
  position: absolute;
  left: 2%; /* 左端に配置 */
}

.arrow.next {
  transform: rotate(135deg);
  position: absolute;
  right: 2%; /* 右端に配置 */
}
