html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.carousel1-background {
  background-image: url("img/dairiseki.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding-top: 40px;
}

.carousel1-title {
  color: #111;
  font-family: "Shippori Mincho";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  margin-bottom: 60px;
}

.slider {
  width: 100%;
}

.slick-slide {
  margin: 0px 54px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("img/prev.svg");
}

.slick-next:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("img/next.svg");
}

.slick-slide {
  transition: all ease-in-out 0.3s;
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 60px;
  height: 60px;
}

.slick-prev {
  left: 4.3%;
}

.slick-next {
  right: 4.3%;
}

.slick-dots {
  bottom: -42px;
}
.slick-dots li {
  margin: 0 12px;
  width: fit-content;
  height: fit-content;
}
.slick-dots li button {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.slick-dots li button:before {
  width: 12px;
  height: 12px;
  font-size: 14px;
  top: -3px;
  left: -1px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #111111;
}

.slick-dots li:not(.slick-active) button:before {
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
}
.carousel1-position {
  position: relative;
}
.carousel1-on-img-container {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 57.5px;
  transform: translateX(-50%);
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
  font-family: "Shippori Mincho";
  color: #fff;
}

.carousel1-header {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}

.carousel1-phrase {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.carousel1-button {
  display: flex;
  color: #fff;
  width: 160px;
  height: 42px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.carousel1-button:hover {
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

.carousel1-img {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    283deg,
    rgba(0, 0, 0, 0.5) 41.92%,
    rgba(0, 0, 0, 0.4) 91.19%
  );
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
