body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.page-around {
  padding: 0;
  height: 570px;
  width: 100%;
  background: url(./img/kuraidairi.png);
}
.page-around-title {
  padding-top: 48px;
  text-align: center;
  font-family: "Shippori Mincho", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 143.75% */
}
.autoplay {
  width: 100%;
}

.slide-container {
  position: relative;
  margin: 0 10px;
}

.slick-slide {
  margin-right: 36px !important; /* ここでスライド間隔を設定 */
}

.autoplay img {
  width: 464px;
  height: 288px;
  object-fit: cover;
  border-radius: 8px;
}

.text-box {
  background: rgba(0, 0, 0, 0.42);
  padding: 32px 80px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  border-radius: 0 0 8px 8px;
}

.text-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 12px 0;
}

.text-text {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-family: "Shippori Mincho", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
.slick-dots {
  bottom: -42px;
}
.slick-dots li {
  margin-right: 24px;
  width: fit-content;
  height: fit-content;
}
.slick-dots li button {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.slick-dots li button:before {
  width: 12px;
  height: 12px;
  font-size: 14px;
  top: -3px;
  left: -1px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #111111;
}

.slick-dots li:not(.slick-active) button:before {
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
}
.carousel1-position {
  position: relative;
}

.slick-dots li:not(.slick-active) button:before {
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
}
